*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    border: none;
}
body{
    position: relative;
    margin: 0 auto;
    padding: 30px;
    background-color: #1E1E1E;
    height: 100vh;
}

#header{
    text-align: center;
    height: 72px;
}

#container{
    position: relative;
    height: calc(100% - 102px);
    margin-top: 30px;
}
.title{
    font-size: 25px;
}
.date{
    font-weight: 800;
}
.contents{
    margin-top: 45px;
    height: calc(100% - 150px);
    overflow-y: scroll;
}
.uploadBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #444;
    border-radius: 10px;
    height: 267px;
}
.uploadBox_items{
    text-align: center;
}
.nextpagebtn{
    font-size: 20px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    background-color: #DE5D00;
    border: none;
    width: 100%;
    border-radius: 10px;
}