body{
    margin: 0 auto;
    padding: 30px;
    background-color: #1E1E1E;
    text-align: center;
}

#header{
    color: #fff;
    font-size: 25px;
}

.orange{
    color: #DE5D00;
}

.nextpageBtn{
    color: #fff;
    width: 100%;
    padding: 20px 0px;
    border-radius: 10px;
    font-size: 20px;
    font-family: inherit;
    border: none;
    background-color: #DE5D00;
    margin-top: 100px;
}

#button:hover{
    background-color: #ad4800;
}

#container{
    text-align: center;
    margin-top: 30px;    
    width: 100%;
}

/* radio */
.select {
    margin: 16px 0px;
    text-align: center;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    padding: 20px 0px;
    width: 100%;
    border: none;
    border-radius: 10px;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:1em;
}
.select input[type=radio]+label{
    background-color: #444444;
    color: #DE5D00;
}
.select input[type=radio]:checked+label{
    background-color: #DE5D00;
    color: #fff;
}