*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
} 

body{
    margin: 0 auto;
    background-color: #1E1E1E;
}

div{
    margin-top: 30px;
}

#header{text-align: center}

#container{
    width: 90%;
    margin: 0 auto;
}

.title{
    color: #fff;
    font-size: 25px;
}

/* radio */
.select {
    margin: 16px 0px;
    text-align: center;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    padding: 20px 0px;
    width: 100%;
    border: none;
    border-radius: 10px;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:1em;
}
.select input[type=radio]+label{
    background-color: #444444;
    color: #DE5D00;
}
.select input[type=radio]:checked+label{
    background-color: #DE5D00;
    color: #fff;
}


#footer{
    width: 90%;
    margin: 0 auto;
    position: fixed;
    bottom: 5%;
    left: 5%;
}

.nextPageBtn{
    color: #fff;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    background-color: #DE5D00;
}

.nextPageBtn:hover{
    background-color: #ad4800;
}