*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
} 

body{
    margin: 0 auto;
    padding: 30px;
    background-color: #1E1E1E;
}

#header{
    color: #fff;
    font-size: 25px;
}

.orange{
    color: #DE5D00;
    font-size: 25px;
    font-weight: 700;
}

p{
    color: #fff;
    font-size: 20px;
}

.nextpageBtn{
    color: #fff;
    width: 100%;
    height: 3em;
    border-radius: 10px;
    font-size: 20px;
    font-family: inherit;
    border: none;
    background-color: #DE5D00;
}

.nextpageBtn:hover{
    background-color: #ad4800;
}

div{        
    margin-top: 30px;       
    text-align: center;
}

.container{
    border-radius: 10px;
    background-color: #444444;
    width: 100%;
    height: 20em;
    padding: 20px 0px;
}

.imge{
    width: 25px;
    height: 25px;
}