*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    border: none;
    line-height: 150%;
}
body{
    position: relative;
    margin: 0 auto;
    padding: 30px;
    background-color: #1E1E1E;
    height: 100vh;
}

#header{
    text-align: center;
    height: 72px;
}

#container{
    position: relative;
    height: calc(100% - 102px);
    margin-top: 30px;
}
.title{
    font-size: 25px;
}
.contents{
    margin-top: 45px;
    height: calc(100% - 150px);
    overflow-y: scroll;
}
.contents_title{
    font-weight: 800;
    font-size: 25px;
}
.day{
    margin-bottom: 50px;
}
.meal{
    padding: 10px;
    background-color: #444;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}
.meal_text{
    margin-left: 10px;
    line-height: 35px;
}
.mealcheck{
    border: 4px solid #DE5D00;
    width: 40px;
    height: 35px;
    border-radius: 10px;
}

.nextpagebtn{
    line-height: normal;
    font-size: 20px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    background-color: #DE5D00;
    border: none;
    width: 100%;
    border-radius: 10px;
}